@charset "utf-8";



/*ウィンドウ背景色の設定*/

body{
	
	background-color:#ffffff;

}



/*リンク色の設定*/

a{

	color:#df4839;

}



a:hover{

	color:#ff705b;
}



/*ページタイトルの設定*/

h1{

	color:#000000;
	
	text-align:center;
	
	font-size:250%;

}



h1 span{

	color:#d0e35b;

}



/*大見出しの設定*/

h2{

	color:#000000;
	
	border-bottom:#4169e1 1px solid;

	padding:5px 20px;
	
	margin-bottom:0;

}

h3{

	color:#000000;
	
	border-bottom:#87cefa 1px solid;

	padding:5px 20px;
	
	margin-bottom:0;

}

h3 p{
	color:#FF0000;
}


/*情報データ見出しの設定*/

dt{

	font-weight:bold;

}



/*リード文領域の設定*/

#lead{

	border-top:#6fbb9a 1px dotted;

	border-bottom:#6fbb9a 1px dotted;

	padding:15px;

	text-align:center;

}

.infobox-above{
	background: #44ab88;/*背景色*/

}
.infobox-row{
	background: #66cdaa;/*背景色*/
}
.infobox-element{
	background: #ffffff;/*背景色*/
}
.infobox-img{
	background: #ffffff;/*背景色*/
}

}